* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    font-family: Arial;
    background-color: #ffffff;
}

.header_container {
    background-color: #1F2937;
}

header {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1F2937;
}

.logo {
    flex: 10;
    font-size: 1.5em;
    font-weight: 900;
    color: #F9FAF8;
}

.menu {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.125em;    
    color: #E5E7EB;
    list-style-type: none;
}

.hero_container {
    background-color: #1F2937;
}

.hero-banner {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
    background-color: #1F2937;
}

.information_container {
    background-color: #ffffff;
}

.quote_container {
    background-color: #E5E7EB;
}

.action_container {
    background-color: #ffffff;
}

.footer_container {
    background-color: #1F2937;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}