* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    font-family: Arial;
    background-color: #ffffff;
}

.header_container {
    background-color: #1F2937;
}

header {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 2rem auto 0;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1F2937;
}

.logo {
    flex: 10;
    font-size: 1.5rem;
    font-weight: 900;
    color: #F9FAF8;
}

.menu {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.125rem;    
    color: #E5E7EB;
    list-style-type: none;
}

.hero_container {
    background-color: #1F2937;
}

.hero_banner {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 6rem auto 6rem;
    background-color: #1F2937;
}

.hero_banner_text {
    flex: 1;
    margin-right: 2rem;;
}

.hero_banner_title {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.hero_banner_description {
    margin: 0.5rem 0 0;
    font-size: 1.125rem;
    color: #F9FAF8;
}

.hero_banner_image {
    flex: 1;
    display: flex;
    background-color: #9D9FA1;
    font-size: 1.125rem;
    color: #F9FAF8;
}

.image_placeholder {
    flex: 1;
    align-self: center;
    text-align: center;
}

.information_container {
    background-color: #ffffff;
}

.information_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

.information_title {
    width: 100%;
    margin: 2.25rem 0;
    font-size: 2.25rem;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.illustrations {
    display: flex;
    width: 960px;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
}

.illustration_image {
    width: 10rem;
    height: 10rem;
    border: 3px solid #3882F6;
    border-radius: 0.7rem;
}

.illustrations_text {
    display: flex;
    width: 960px;
    height: auto;
    margin: 1rem auto 8rem;
    justify-content: space-around;
}

.illustration_text {
    width: 10rem;
    height: auto;
    padding: 0 5px;
    text-align: center;
}

.quote_container {
    background-color: #E5E7EB;
}

.quote_section {
    width: 960px;
    height: auto;
    margin: 8rem auto;
}

.quote_text {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 100;
}

.quote_author {
    font-size: 1.5rem;
    font-weight: 900;
}

.action_container {
    background-color: #ffffff;
}

.footer_container {
    background-color: #1F2937;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.sign_up {
    margin: 1.5rem 0 0;
    padding: 0.5rem 1.75rem;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 900;
    color: #F9FAF8;
}